body {
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
	height: 150px;
	z-index: 2;
	position: absolute;
	top: 0;
}
header .header-black {
	background-color: #000;
	height: 40px;
}
header .header-black li {
	background-image: url("../img/clubs.png");
	background-repeat: no-repeat;
	display: inline-block;
	margin: 5px 2px;
}
header .header-black li.club-01 {
	background-position: 0px 0px;
}
header .header-black li.club-02 {
	background-position: -48px 0px;
}
header .header-black li.club-03 {
	background-position: -95px 0px;
}
header .header-black li.club-04 {
	background-position: -138px 0px;
}
header .header-black li.club-05 {
	background-position: -189px 0px;
}
header .header-black li.club-06 {
	background-position: -239px 0px;
}
header .header-black li.club-07 {
	background-position: -288px 0px;
}
header .header-black li.club-08 {
	background-position: -335px 0px;
}
header .header-black li.club-09 {
	background-position: -378px 0px;
}
header .header-black li.club-10 {
	background-position: -429px 0px;
}
header .header-black li.club-11 {
	background-position: -480px 0px;
}
header .header-black li.club-12 {
	background-position: -529px 0px;
}
header .header-black li.club-13 {
	background-position: -578px 0px;
}
header .header-black li.club-14 {
	background-position: -628px 0px;
}
header .header-black li.club-15 {
	background-position: -670px 0px;
}
header .header-black li.club-16 {
	background-position: -719px 0px;
}
header .header-black li.club-17 {
	background-position: -759px 0px;
}
header .header-black li.club-18 {
	background-position: -805px 0px;
}
header .header-black li.club-19 {
	background-position: -855px 0px;
}
header .header-black li.club-20 {
	background-position: -899px 0px;
}
header .header-black li.club-21 {
	background-position: -948px 0px;
}
header .header-black li.club-22 {
	background-position: -998px 0px;
}
header .header-black li a {
	width: 32px;
	height: 32px;
	display: block;
}
header #logotipo {
	position: absolute;
	z-index: 3;
	margin-top: 25px;
	margin-left: 250px;
}
header #logotipo.efeito {
	transition: 1s;
	
}
header .header-purple {
	width: 100%;
	height: 110px;
	background-color: #5E299A;
	opacity: 0.9;
}
  .search-box {
  	position: absolute;
  	top: 60%;
  	left: 80%;
  	transform: translate(-50%,-50%);
  	background: #5e299a;
  	height: 40px;
  	border-radius: 40px;	
 }
 .search-box:hover > .search-text {
 	width: 240px;
 	padding: 0 6px;
 }
 .search-box:hover > .search-btn {
 	background: white;
 }
 .search-btn {
 	color: #e84228;
 	float: right;
 	width: 40px;
 	height: 40px;
 	border-radius: 100%;
 	background: #2f3640;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	transition: 0.4s;
}
.search-text {
	border: none;
	background: none;
	outline: none;
	float: right;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
}
section #banner {
	width: 100%;
	height: 768px;
	background: no-repeat;
	margin-top: -150px;
	
}
section h1 {
	color: #FFF;
	top: 300px;
	position: relative;
	font-size: 92px;
	text-shadow: 2px 2px 2px rgba( 0, 0, 0, .45	);
	margin-left: 50px;
}
section h1 small {
	font-size: 32px;
	display: block;
	color: #FFF;
	margin-left: 75px;
	
}
section .section-purple {
	background-color: #5E299A;
	width: 100%;
	height: 162px;
	margin-top: -60px;
}
section #estatisticas p {
	color: #FDE092;
	text-transform: uppercase;
	font-size: 60px;
	margin-top: 33px;
	text-align: center;
	margin-bottom: -69px;
} 
section	#estatisticas small {
	color: #FFF;
	font-size: 24px;
	display: block;
	font-family: 'OpenSans-Light';
}

section	#estatisticas .row {
	margin-right: 0!important;
}

#news h2 {
	color: #5E2799;
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
	
}
#news hr {
	border: #FDE192 solid 4px;
	width: 200px;
	margin: 0 auto;
}
#news .thumbnails {
	margin-top: 20px;
	font-weight: bold;
}
#news .thumbnails h3 {
	color: #5E299A;
	font-size: 18px
}
#news .thumbnails time {
	margin-top: 50px;
	font-family: 'OpenSans-Light';
}
#call-to-action {
	text-align: center;
	margin-top: 105px;
}
#call-to-action h2 {
	color:#5E2799;
	font-family: 'OpenSans-Light';
	font-size: 48px;
	text-align: center;
	margin-top: -30px;
}
#call-to-action hr {
	border:#FDE192 solid 4px;
	width: 200px;
	margin: 0 auto;
}
#call-to-action p {
	margin-top: 60px;
	margin-bottom: 40px;
	color: #656565;
}

#call-to-action .btn {
	min-width: 164px;
    height: 44px;
    line-height: 34px;
    border-radius: 0;
}
#call-to-action .btn-roxo {
    color: #fff;
    background-color: #5E299A;
    border-color: #5E299A;
    border-radius: 40px;
}
#call-to-action .btn-amarelo {
    color: #000;
    background-color: #FDE192;
    border-color: #FDE192;
    border-radius: 40px;
}
#call-to-action .row-max-400 {
	margin: 0 auto;
	max-width: 400px;
}
footer {
	margin-top: 110px;
}
footer .row {
	width: 100%;
}
footer .row p {

}
footer .row-cinza-claro {
	/*height: 200px;*/
	min-height: 200px;
	background-color: #171F26;
}
footer .row-cinza-escuro {
	height: 60px;
	background-color: #11171D;
	border-top: #242D37 1px solid;
}
footer .pull-left {
	font-family: 'OpenSans';
	font-size: 14px;
	color: #666;
	line-height: 64px;
	margin-left: -169px;
	margin-top: 2px;
}
footer .text-roxo {
	color: #666;
	font-family: 'OpenSans';
	font-weight: bold;
	font-size: 14px;
	line-height: 64px;
	margin-right: -150px;
	margin-top: 2px;
}
footer .logotipo {
	margin-top: 28px;
	/*margin-left: -168px;*/
}
footer .col-popular-post,
footer .col-links,
footer .col-get-in-touch {
	margin-top: 40px;
}
footer .row-cols h4 {
	font-family: 'OpenSans';
	font-size: 16px;
	color: #FFF;
	padding-bottom: 17px;
	border-bottom: #242D37 1px solid;
	width: 200px;
}
footer .row-cols h5 {
	color: #666;
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 0;
}
footer .row-cols time {
	color: #FDE092;
	font-family: Arial;
	font-size: 14px;
}
footer .col-links a {
	color: #FFF;
	font-family: Arial;
	font-size: 14px;
}
footer .col-links .fa {
	margin: 0 6px;
}
footer .col-get-in-touch address {
	color:#666;
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 6px;
}
footer .col-get-in-touch address span {
	display: inline-block;
}
footer .col-get-in-touch address i {
	position: relative;
	top: -14px;
}
footer .col-get-in-touch i {
	color: #9B9B9B;
	font-size: 20px;
	margin: 0 6px;

}
footer .col-get-in-touch a {
	color: #666;
}
footer .col-get-in-touch p {
	line-height: 20px;
}
footer .list-socials {
	margin-top: 4px;
}
footer .list-socials li {
	display: inline-block;
	margin-right: 8px;
}
footer .list-socials a {
	display: block;
	border: #9B9B9B 1px solid;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 14px;
	text-align: center;
}
footer .list-socials i {
	font-size: 16px;
	margin: 7px auto;
}